<!DOCTYPE html>
<html ng-app="dataApp">
<head>
    <title>Clock!</title>

    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="angular.js"></script>

    <script src="bootstrap.js"></script>

    <script src="parentCtrl.js"></script>
</head>
<body >

    <div ng-controller="parentCtrl">
        <p ng-class = "getClass()">Name : <input type="text" ng-model="name" ng-class="getClass()"></p>
        <p ng-class = "getClass()">email : <input type="text" ng-model="email" ng-class="getClass()"></p>
        <p ng-class = "getClass()">age : <input type="text" ng-model="age" ng-class="getClass()"></p>
    </div>

    
    <br>
</body>
</html>