.green {
    color : green;
    border-color : green

}

.red {
    color : red;
    border-color : red
}
.blue {
    color : blue;
    border-color : blue
}

.orange {
    color : orange;
    border-color : orange
}
